body {
  background-color: powderblue;
  font-family: sans-serif;
}
p, body {
  margin: 0;
}
a {
  text-decoration: none;
}
input, textarea {
  box-sizing: border-box;
}
input:focus {
  outline: none;
}
input, button {
  border: none;
}
button {
  cursor: pointer;
  transition: .3s;
}
/**********************************
            CLEAR FIX
**********************************/
.clear:before, .clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
/**********************************
              HEADER
**********************************/
header {
  background-color: slateblue;
  line-height: 40px;
}
header div {
  padding: 10px 0 10px 10px;
}
header div p {
  font-size: 1.75em;
}
header form {
  text-align: center;
  background-color: teal;
}
header form input{
  height: 23px;
  font-size: .9em;
  padding-left: 5px;
}
header form button {
  font-size: .8em;
  padding: 4px 5px;
}
button:hover {
  background-color: #000;
  color: #fff;
  transition: 0.3s;
}
/**********************************
                EDIT
**********************************/
.edit {
  max-width: 450px;
  margin: auto;
}
.edit textarea {
  font-size: 1em;
  width: 100%;
  height: 150px;
}
.edit button {
  display: block;
  font-size: .9em;
  padding: 4px 15px;
  margin: auto;
}
/**********************************
                BODY
**********************************/
.container {
  padding: 0 10px;
  text-align: center;
}
.links-div, .content-div {
  padding: 1.5em 0;
}
.links-div > a {
  padding: 5px 8px;
  background-color: #E91E63;
  color: #f2dedd;
  transition: .3s;
}
.links-div > a:hover {
  background-color: rgba(233, 30, 99, 0.63);
  color: #222;
  transition: .3s;
}
.links-div a:nth-of-type(2) {
  margin-left: 15px;
}
.page_hist_list {
  text-align: left;
}
.page_hist_list > li {
  margin: 10px 0;
}
.page_hist_list a {
  color: darkslateblue;
}
.page_hist_list a:hover {
  color: mediumslateblue;
}
/**********************************
            MEDIA QUERIES
**********************************/
@media screen and (min-width: 450px) {
  header {
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
  }
  header div {
    display: inline-block;
    padding: 0;
  }
  header form {
    background-color: slateblue;
    float: right;
  }
  .teal-row {
    height: 10px;
    background-color: teal;
  }
}
