body {
  background-color: #b5e984;
  font-family: sans-serif;
}
p, body {
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
input, textarea {
  box-sizing: border-box;
}
textarea:focus, input:focus, button:focus {
  outline: none;
}
input, button {
  border: none;
}
button {
  cursor: pointer;
  transition: .3s;
}
.abs_position {
  position: absolute;
  left: 15px;
  bottom: 15px;
}
.block-level {
  display: block;
  color: #222;
}
/**********************************
            CLEAR FIX
**********************************/
.clear:before, .clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
/**********************************
              HEADER
**********************************/
header {
  background-color: #6048f0;
  line-height: 40px;
}
header div {
  padding: 5px 0;
}
header .logo {
  text-align: center;
}
header .logo a {
  font-size: 1.75em;
  color: #fff;
}
header form {
  text-align: center;
  background-color: #24bfbf;
}
header form input{
  height: 23px;
  font-size: .9em;
  padding-left: 5px;
}
header form input:focus {
  box-shadow: 0 0 7px aliceblue;
}
header form button {
  font-size: .8em;
  padding: 4px 5px;
}
button:hover {
  background-color: #000;
  color: #fff;
  transition: 0.3s;
}
.user_links {
  text-align: center;
}
.user_links a {
  text-align: center;
  color: #fff;
  transition: 0.3s;
  margin: 0 1em;
}
.user_links a:hover {
  color: yellow;
  transition: 0.3s;
  padding-bottom: 5px;
  border-bottom: 2px solid yellow;
}
/**********************************
                EDIT
**********************************/
.edit {
  max-width: 325px;
  margin: auto;
}
.edit textarea {
  font-size: 1em;
  width: 100%;
  height: 250px;
}
.edit button {
  display: block;
  font-size: .9em;
  padding: 10px 25px;
  margin: 1em auto;
  border-radius: 5px;
}
/**********************************
              FLASHES
**********************************/
.flashes {
  background-color: #c1c0ff;
  margin-top: 10px;
  width: 100%;
  padding: 1em 0;
  border-radius: 5px;
  margin-top: -30px;
}
.flashes li {
  color: #6048f0;
  font-size: 1.1em;
}
/**********************************
          LOGIN & REGISTER
**********************************/
.submit_form {
  margin: 1em auto;
  max-width: 250px;
}
.form_div {
  margin: 1em 0;
}
.submit_form label {
  float: left;
}
.submit_form input {
  margin-top: .5em;
  width: 100%;
  font-size: 1em;
  height: 25px;
  padding-left: 5px;
}
.submit_form button {
  display: block;
  font-size: .9em;
  padding: 6px 15px;
  margin: auto;
}
/**********************************
                BODY
**********************************/
.container {
  margin: 2.5em 0;
  padding: 0 10px;
  text-align: center;
}
.content-div {
  padding: 1em 0;
}
.links-div {
  padding: 1.5em 0;
  margin: 2em 0;
}
.links-div > a {
  padding: 12px 8px;
  background-color: #6048f0;
  color: #fff;
  transition: .3s;
  display: block;
  margin: 1em auto;
  max-width: 150px;
  border-radius: 6px;
}
.links-div > a:hover {
  background-color: #24bfbf;
  color: #222;
  transition: .3s;
}
.page_hist_list {
  text-align: left;
  list-style: decimal;
}
.page_hist_list > li {
  margin: 10px 0;
}
.page_hist_list a, .login_register a {
  color: darkslateblue;
}
.page_hist_list a:hover, .login_register a:hover {
  color: mediumslateblue;
}
.create_content a {
  font-weight: bold;
  transition: 0.3s;
}
.create_content a:hover {
  font-weight: bold;
  color: #6048f0;
  transition: 0.3s;
}
/**********************************
            MEDIA QUERIES
**********************************/
@media screen and (min-width: 850px) {
  header {
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    position: relative;
    text-align: center;
  }
  header .logo {
    position: absolute;
    left: 10px;
  }
  header div {
    display: inline-block;
    padding: 0;
  }
  header form {
    background-color: #6048f0;
    position: absolute;
    right: 10px;
    top: 0;
  }
  .teal-row {
    height: 10px;
    background-color: #24bfbf;
  }
}
