<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wiki</title>
    <link rel="stylesheet" href="/static/main.css">
  </head>
  <body>
    <header class="clear">
      <div class="logo">
        <a href="/">WikiApp</a>
      </div>
      <div class="user_links clear">
        {% if session['username'] %}
          <a href="/logout">Logout</a>
        {% else %}
          <a href="/register">Register</a>
          <a href="/login">Login</a>
        {% endif %}
      </div>
      <form action="/search" method="post">
        <input type="text" name="search" placeholder="search">
        <button type="submit">Submit</button>
      </form>
    </header>
    <div class="teal-row">

    </div>
    <div class="container">
      {% block body %}
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
              {% for message in messages %}
                <li>{{message}}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <h1>Hello, {{session['username'] or 'there'}}!</h1>
        <h3>What would you like to search for?</h3>
      {% endblock %}
    </div>
    <div class="abs_position">
      <a class="block-level" href="/all_pages">View All Pages</a>
    </div>
  </body>
</html>
